.back-button-wrapper {
    margin-top: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }
  
  .back-button {
    background-color: #ccc;
    color: #333;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #bbb;
  }
  