.header {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.language-selector {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.language-selector button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s, transform 0.3s;
}

.language-selector button:hover {
  color: #007BFF;
  transform: scale(1.1);
}

.language-selector button.active {
  font-weight: bold;
  color: #007BFF;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  padding: 8px 12px;
  margin-right: auto;
  transition: color 0.3s ease, transform 0.2s ease;
}

.home-button:hover {
  color: #007BFF;
  transform: scale(1.05);
}
